/*-------------------------------------------------Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto:wght@300&display=swap");

/*-------------------------------------------------Colours*/

.logocontainer {
  background-color: #f5ab3d;
}

.logo i {
  font-size: 50px;
  color: green;
}
.logotext {
  color: #fafafafa;
}

.footercontainer {
  background-color: #1457adaa;
}

.jumbotron h1 {
  color: white;
}

.about-title {
  color: #f5ab3d;
}

.games-title {
  color: #f5ab3d;
}
.navlinks-item,
.linkstext {
  color: #fafafa;
}

.social-link i {
  color: #fafafa;
}

/*-------------------------------------------------Body*/

.container-fluid {
  margin: 0;
  padding: 0;
  border: 0;
}

/*-------------------------------------------------Logo*/
.logocontainer {
  height: 5em;
  padding-top: 15px;
  overflow: hidden;
}

.logotext {
  font-family: "Poppins", sans-serif;
}
.logo i {
  float: left;
}

.logo h2 {
  float: left;
  padding-left: 20px;
}

/*-------------------------------------------------Jumbotron*/
.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  font-family: "Roboto", sans-serif;
}

.callout-container {
  height: 90vh;
  background: url("../images/gamers.jpg") no-repeat center right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

/*-------------------------------------------------Block Dividers*/

.block-divider--white {
  background-color: white;
  width: 500px;
  height: 2px;
  border: 0;
}

/*-------------------------------------------------Main Content*/

.maincontentcontainer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

.about-text {
  max-width: 90%;
  justify-content: right;
  display: flex;
}

.games-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  float: right;
}

.games-text {
  max-width: 90%;
  clear: right;
  text-align: right;
}

/*-------------------------------------------------Footer*/

.footercontainer .linkstext {
  font-family: "Roboto", sans-serif;
  height: 8vh;
}

.navlinks {
  float: left;
  display: inline-flex;
  padding: 0;
  border: 0;
  padding-top: 20px;
}
.navlinks ul {
  list-style: none;
  text-decoration: none;
}

.navlinks ul li a {
  color: #fafafa;
}

.navlinks ul li {
  display: inline-flex;
}

.social {
  float: right;
  display: inline-flex;
  padding: 0;
  border: 0;
  padding-top: 20px;
}

.social h4 {
  font-size: medium;
}

.social-link i {
  padding-left: 10px;
  font-size: 25px;
}
